.auth-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}
.auth-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;

  object-fit: cover;
  z-index: -3;
}
.auth-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(6px);
  z-index: -2;
}

.auth-box {
  position: relative;
  background: var(--candy-white-soft);

  padding: 40px 55px;
  border-radius: 20px;

  box-shadow: 0 0 30px var(--candy-shadow);
  text-align: center;
  width: 90%;
  max-width: 420px;
}

.auth-title {
  font-size: 3rem;
  font-weight: 900;
  color: var(--candy-pink);
  margin-bottom: 25px;
  letter-spacing: 2px;
}


.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input {
  padding: 12px 15px;
  font-size: 1.1rem;

  border-radius: 10px;
  border: none;
  outline: none;

  background: var(--candy-white);
  box-shadow: 0 0 10px var(--candy-shadow);
}


.auth-form button {
  background: linear-gradient(
    45deg,
    var(--candy-pink),
    var(--candy-pink-light)
  );

  padding: 12px 15px;

  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  color: white;

  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;

  box-shadow: 0 5px 15px var(--candy-shadow);
}

.auth-form button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 25px var(--candy-shadow-strong);
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-buttons button {
  background: linear-gradient(45deg, var(--candy-pink), var(--candy-pink-light));
  border: none;
  padding: 14px;
  border-radius: 12px;

  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;

  transition: 0.2s;
  box-shadow: 0 5px 15px var(--candy-shadow);
}

.cargar-box {
  position: relative;
  background: var(--candy-white-soft);

  padding: 40px 55px;
  border-radius: 20px;

  box-shadow: 0 0 30px var(--candy-shadow);
  text-align: center;
  width: 90%;
  max-width: 600px;
}


.menu-buttons button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 25px var(--candy-shadow-strong);
}


.crear-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.crear-label {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--candy-pink-dark);
}

.crear-select,
.crear-input {
  padding: 12px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background: var(--candy-white);
  box-shadow: 0 0 10px var(--candy-shadow);
}

.crear-btn {
  margin-top: 10px;
  background: linear-gradient(45deg, var(--candy-pink), var(--candy-pink-light));
  padding: 12px;
  border: none;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 5px 15px var(--candy-shadow);
}

.crear-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 25px var(--candy-shadow-strong);
}


@media (max-width: 480px) {
  .auth-title {
    font-size: 2.2rem;
  }

  .auth-box {
    padding: 30px 35px;
  }
}


.tablero-wrapper {
  padding: 2vh;
  background: var(--candy-white-soft);
  backdrop-filter: blur(6px);
  border-radius: 2vh;
  box-shadow: 0 0 3vh var(--candy-shadow);
  margin-top: 2vh;
}

.tablero-grid {
  display: grid;
  grid-template-columns: repeat(7, 8vh);
  grid-template-rows: repeat(9, 8vh);
  gap: 1vh;
}

.celda {
  width: 8vh;
  height: 8vh;
  background: var(--candy-white);
  border-radius: 1.5vh;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 1.2vh var(--candy-shadow);
  transition: 0.2s;
}

.celda:hover {
  transform: scale(1.05);
}

.candy-img {
  width: 7vh;
  height: 7vh;
  object-fit: contain;
}


.ranking-root {
  width: 90%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh auto 0 auto;
}


.ranking-header {
  text-align: center;
  margin-bottom: 3vh;
}

.ranking-title-container {
  padding: 1.2vh 3vh;
  background: linear-gradient(
    70deg,
    rgba(255, 105, 180, 0.7),
    rgba(176, 40, 189, 0.7),
    rgba(245, 11, 225, 0.7)
  );
  border-radius: 3vh;
  box-shadow: 0 0 1.2vh rgba(255, 150, 170, 0.5);
  display: inline-block;
  backdrop-filter: blur(6px);
}

.ranking-title {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 900;
  font-size: 4.2vh;
}

.ranking-subtitle {
  font-size: 2vh;
  color: #4a4a4a;
  margin-top: 1vh;
}


.ranking-scroll-container {
  width: 100%;
  max-height: calc(100vh - 25vh);
  overflow-y: auto;
  padding-bottom: 1vh;
}


.ranking-scroll-container::-webkit-scrollbar {
  width: 8px;
  background: #444;
}
.ranking-scroll-container::-webkit-scrollbar-track {
  background: rgba(3, 3, 3, 0.35);
  border-radius: 10px;
}
.ranking-scroll-container::-webkit-scrollbar-thumb {
  background: var(--candy-pink-light);
  border-radius: 10px;
  background: #807f7f;
}


.ranking-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vh;
  width: 98%;
}

.ranking-card {
  background: rgba(230, 227, 227, 0.753);
  backdrop-filter: blur(10px);
  padding: 2.8vh;
  border-radius: 2.2vh;
  box-shadow: 0 0 1.8vh rgba(255, 150, 170, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1.2vh;
  transition: 0.2s ease;
}

.ranking-card:hover {
  transform: translateY(-0.4vh);
}


.ranking-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ranking-pos {
  font-size: 1.8vh;
  font-weight: bold;
  color: var(--candy-pink-dark);
}

.ranking-badge {
  background: var(--candy-pink-light);
  color: white;
  padding: 0.4vh 1.2vh;
  border-radius: 2vh;
  font-size: 1.3vh;
}

.ranking-name {
  font-size: 2.4vh;
  font-weight: 700;
  color:black;
}

.ranking-points {
  font-size: 3.4vh;
  font-weight: 900;
  color: black;
}

.ranking-points span {
  font-size: 1.6vh;
  margin-left: 0.4vh;
}

.ranking-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 1.6vh;
  color: #444;
}

.game-details-container {
  width: 20%; 
  background: #ffffff98;  
  padding: 3vh 4vh;
  border-radius: 2vh; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  z-index: 1;
}


.game-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.game-header h2 {
  font-size: 3.5vh;  
  font-weight: 700;
  color: #333; 
}


.validate-btn {
  background: linear-gradient(45deg, #7e57c2, #9c4dcc); 
  padding: 2.5vh 5vh;  
  font-size: 2.4vh;
  font-weight: bold;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 6px 15px rgba(126, 87, 194, 0.5);
  align-self: center;
}

.validate-btn:hover {
  transform: scale(1.05); 
  box-shadow: 0 6px 20px rgba(126, 87, 194, 0.6);
}

.game-info {
  display: flex;
  flex-direction: column;
  gap: 1.6vh;
  margin-top: 2vh;
  background: #f9fdff;           
  padding: 2.4vh 2.6vh;
  border-radius: 2vh;
}


.game-info-item {
  display: flex;
  align-items: center;
  gap: 1.6vh;
}


.game-icon-wrapper {
  width: 4.2vh;
  height: 4.2vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.game-icon-wrapper--time {
  background: #efe7ff;     
}

.game-icon-wrapper--score {
  background: #fff5dd;    
}

.game-icon-wrapper--players {
  background: #e3f4ff;     
}

.game-icon {
  font-size: 2.2vh;
  color: #5b2fcf;         
}

.game-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}

.game-label {
  font-size: 1.7vh;
  color: #334155;         
}

.game-value {
  font-size: 1.9vh;
  font-weight: 700;
  color: #0f172a;        
}

.game-meta {
  font-family: 'Nunito', system-ui, sans-serif;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: left;          
}

.game-meta-row {
  margin: 0.4vh 0;
}

.game-meta-label {
  font-size: 1.6vh;
  font-weight: 600;      
  color: #000000;         
  margin-right: 0.6vh;
}

.game-meta-value {
  font-size: 1.7vh;
  font-weight: 700;         
  color: #000000;            
}

.celda-seleccionada {
  background: rgba(150, 123, 65, 0.6);
  box-shadow: 0 0 1.6vh var(--candy-pink-light);
  transform: scale(0.96);
}
